In [3]:
import pandas as pd

In [6]:
ser = pd.Series(range(3), index=list("abc"), name="ser")
pd.DataFrame(ser)

   ser
a    0
b    1
c    2

In [7]:
import time
time.sleep(3)

# This is a level 1 heading

## This is a level 2 heading

This is some plain text

* Sometimes we want to include lists

* 1. Lists can also be numbered.

In [8]:
df = pd.read_csv('customers-100.csv')

In [11]:
df.head(10)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
5,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,999-728-1637,louis27@gilbert.com,2020-02-25,http://www.berger.net/
6,7,EA4d384DfDbBf77,Darren,Peck,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands,(496)452-6181x3291,+1-247-266-0963x4995,tgates@cantrell.com,2021-08-24,https://www.le.com/
7,8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria,001-583-352-7197x297,001-333-145-0369,asnow@colon.com,2021-04-12,https://hammond-ramsey.com/
8,9,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad,Cyprus,854-138-4911x5772,+1-448-910-2276x729,mariokhan@ryan-pope.org,2020-01-13,https://www.bullock.net/
9,10,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg,Timor-Leste,739.218.2516x459,001-054-401-0347x617,mdyer@escobar.net,2021-11-08,https://arias.com/

In [12]:
len(df)

100

In [13]:
df.dtypes

Index                 int64
Customer Id          object
First Name           object
Last Name            object
Company              object
City                 object
Country              object
Phone 1              object
Phone 2              object
Email                object
Subscription Date    object
Website              object
dtype: object

In [14]:
df.columns

Index(['Index', 'Customer Id', 'First Name', 'Last Name', 'Company', 'City',
       'Country', 'Phone 1', 'Phone 2', 'Email', 'Subscription Date',
       'Website'],
      dtype='object')

In [15]:
df.index

RangeIndex(start=0, stop=100, step=1)

In [16]:
display(df.loc[2:4])

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [17]:
display(df.iloc[2:4])

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/

In [18]:
df.loc[2:4]

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [19]:
df.loc[(df.City.startswith('B'))]

AttributeError: 'Series' object has no attribute 'startswith'

In [20]:
df.loc[(df.City == 'Bensonview')]

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/

In [21]:
df.loc[(df.First Name == 'Linda')]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (927271966.py, line 1)

In [22]:
df.loc[(df.FirstName == 'Linda')]

AttributeError: 'DataFrame' object has no attribute 'FirstName'

In [23]:
df.columns = ['Index', 'CustomerId', 'FirstName', 'LastName', 'Company', 'City',
       'Country', 'Phone1', 'Phone2', 'Email', 'SubscriptionDate',
       'Website']

In [24]:
df.loc[(df.FirstName == 'Linda')]

,Index,CustomerId,FirstName,LastName,Company,City,Country,Phone1,Phone2,Email,SubscriptionDate,Website
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/

In [25]:
df.FirstName

0       Sheryl
1      Preston
2          Roy
3        Linda
4       Joanna
        ...
95        Karl
96        Lynn
97        Fred
98      Yvonne
99    Clarence
Name: FirstName, Length: 100, dtype: object

In [26]:
df['FirstName']

0       Sheryl
1      Preston
2          Roy
3        Linda
4       Joanna
        ...
95        Karl
96        Lynn
97        Fred
98      Yvonne
99    Clarence
Name: FirstName, Length: 100, dtype: object

In [27]:
df.iloc[0:5, 0:5]

   Index       CustomerId FirstName LastName                          Company
0      1  DD37Cf93aecA6Dc    Sheryl   Baxter                  Rasmussen Group
1      2  1Ef7b82A4CAAD10   Preston   Lozano                      Vega-Gentry
2      3  6F94879bDAfE5a6       Roy    Berry                    Murillo-Perry
3      4  5Cef8BFA16c5e3c     Linda    Olsen  Dominguez, Mcmillan and Donovan
4      5  053d585Ab6b3159    Joanna   Bender         Martin, Lang and Andrade

In [28]:
df['flag'] = df['Index'] < 5

In [29]:
df.head()

,Index,CustomerId,FirstName,LastName,Company,City,Country,Phone1,Phone2,Email,SubscriptionDate,Website,flag
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/,True
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/,True
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/,True
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/,True
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/,False

In [30]:
df.pop('flag')

0      True
1      True
2      True
3      True
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: flag, Length: 100, dtype: bool

In [31]:
df.head()

,Index,CustomerId,FirstName,LastName,Company,City,Country,Phone1,Phone2,Email,SubscriptionDate,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [32]:
df['Index'][:2]

0    1
1    2
Name: Index, dtype: int64

In [33]:
x = df['Index']

In [34]:
type(x)

pandas.core.series.Series

In [35]:
df.loc[0]

Index                                        1
CustomerId                     DD37Cf93aecA6Dc
FirstName                               Sheryl
LastName                                Baxter
Company                        Rasmussen Group
City                              East Leonard
Country                                  Chile
Phone1                            229.077.5154
Phone2                        397.884.0519x718
Email                 zunigavanessa@smith.info
SubscriptionDate                    2020-08-24
Website             http://www.stephenson.com/
Name: 0, dtype: object

In [36]:
df.loc[3]

Index                                             4
CustomerId                          5Cef8BFA16c5e3c
FirstName                                     Linda
LastName                                      Olsen
Company             Dominguez, Mcmillan and Donovan
City                                     Bensonview
Country                          Dominican Republic
Phone1                       001-808-617-6467x12895
Phone2                              +1-813-324-8756
Email                   stanleyblackwell@benson.org
SubscriptionDate                         2020-06-02
Website                  http://www.good-lyons.com/
Name: 3, dtype: object

In [37]:
df.iloc[3]

Index                                             4
CustomerId                          5Cef8BFA16c5e3c
FirstName                                     Linda
LastName                                      Olsen
Company             Dominguez, Mcmillan and Donovan
City                                     Bensonview
Country                          Dominican Republic
Phone1                       001-808-617-6467x12895
Phone2                              +1-813-324-8756
Email                   stanleyblackwell@benson.org
SubscriptionDate                         2020-06-02
Website                  http://www.good-lyons.com/
Name: 3, dtype: object

In [38]:
df[5:10]

,Index,CustomerId,FirstName,LastName,Company,City,Country,Phone1,Phone2,Email,SubscriptionDate,Website
5,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,999-728-1637,louis27@gilbert.com,2020-02-25,http://www.berger.net/
6,7,EA4d384DfDbBf77,Darren,Peck,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands,(496)452-6181x3291,+1-247-266-0963x4995,tgates@cantrell.com,2021-08-24,https://www.le.com/
7,8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria,001-583-352-7197x297,001-333-145-0369,asnow@colon.com,2021-04-12,https://hammond-ramsey.com/
8,9,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad,Cyprus,854-138-4911x5772,+1-448-910-2276x729,mariokhan@ryan-pope.org,2020-01-13,https://www.bullock.net/
9,10,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg,Timor-Leste,739.218.2516x459,001-054-401-0347x617,mdyer@escobar.net,2021-11-08,https://arias.com/

In [40]:
y = df['FirstName']

In [41]:
type(y)

pandas.core.series.Series

In [44]:
df['Company']

0                     Rasmussen Group
1                         Vega-Gentry
2                       Murillo-Perry
3     Dominguez, Mcmillan and Donovan
4            Martin, Lang and Andrade
                   ...
95                          Carey LLC
96              Ware, Burns and Oneal
97                      Schmitt-Jones
98                 Fitzgerald-Harrell
99                 Le, Nash and Cross
Name: Company, Length: 100, dtype: object

In [45]:
df.head()

,Index,CustomerId,FirstName,LastName,Company,City,Country,Phone1,Phone2,Email,SubscriptionDate,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [46]:
df[:5]

,Index,CustomerId,FirstName,LastName,Company,City,Country,Phone1,Phone2,Email,SubscriptionDate,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [47]:
df[:5].T

,0,1,2,3,4
Index,1,2,3,4,5
CustomerId,DD37Cf93aecA6Dc,1Ef7b82A4CAAD10,6F94879bDAfE5a6,5Cef8BFA16c5e3c,053d585Ab6b3159
FirstName,Sheryl,Preston,Roy,Linda,Joanna
LastName,Baxter,Lozano,Berry,Olsen,Bender
Company,Rasmussen Group,Vega-Gentry,Murillo-Perry,"Dominguez, Mcmillan and Donovan","Martin, Lang and Andrade"
City,East Leonard,East Jimmychester,Isabelborough,Bensonview,West Priscilla
Country,Chile,Djibouti,Antigua and Barbuda,Dominican Republic,Slovakia (Slovak Republic)
Phone1,229.077.5154,5153435776,+1-539-402-0259,001-808-617-6467x12895,001-234-203-0635x76146
Phone2,397.884.0519x718,686-620-1820x944,(496)978-3969x58947,+1-813-324-8756,001-199-446-3860x3486
Email,zunigavanessa@smith.info,vmata@colon.com,beckycarr@hogan.com,stanleyblackwell@benson.org,colinalvarado@miles.net
SubscriptionDate,2020-08-24,2021-04-23,2020-03-25,2020-06-02,2021-04-17
Website,http://www.stephenson.com/,http://www.hobbs.com/,http://www.lawrence.com/,http://www.good-lyons.com/,https://goodwin-ingram.com/

In [48]:
df.head()

,Index,CustomerId,FirstName,LastName,Company,City,Country,Phone1,Phone2,Email,SubscriptionDate,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [49]:
df.info

<bound method DataFrame.info of     Index       CustomerId FirstName  LastName  \
0       1  DD37Cf93aecA6Dc    Sheryl    Baxter
1       2  1Ef7b82A4CAAD10   Preston    Lozano
2       3  6F94879bDAfE5a6       Roy     Berry
3       4  5Cef8BFA16c5e3c     Linda     Olsen
4       5  053d585Ab6b3159    Joanna    Bender
..    ...              ...       ...       ...
95     96  cb8E23e48d22Eae      Karl     Greer
96     97  CeD220bdAaCfaDf      Lynn  Atkinson
97     98  28CDbC0dFe4b1Db      Fred    Guerra
98     99  c23d1D9EE8DEB0A    Yvonne    Farmer
99    100  2354a0E336A91A1  Clarence    Haynes

                            Company               City  \
0                   Rasmussen Group       East Leonard
1                       Vega-Gentry  East Jimmychester
2                     Murillo-Perry      Isabelborough
3   Dominguez, Mcmillan and Donovan         Bensonview
4          Martin, Lang and Andrade     West Priscilla
..                              ...                ...
95                        Carey LLC       East Richard
96            Ware, Burns and Oneal       New Bradview
97                    Schmitt-Jones         Ortegaland
98               Fitzgerald-Harrell    Lake Elijahview
99               Le, Nash and Cross          Judymouth

                       Country                  Phone1  \
0                        Chile            229.077.5154
1                     Djibouti              5153435776
2          Antigua and Barbuda         +1-539-402-0259
3           Dominican Republic  001-808-617-6467x12895
4   Slovakia (Slovak Republic)  001-234-203-0635x76146
..                         ...                     ...
95                      Guyana     (188)169-1674x58692
96                   Sri Lanka         +1-846-706-2218
97             Solomon Islands    +1-753-067-8419x7170
98                       Aruba           (530)311-9786
99                    Honduras           (753)813-6941

                    Phone2                           Email SubscriptionDate  \
0         397.884.0519x718        zunigavanessa@smith.info       2020-08-24
1         686-620-1820x944                 vmata@colon.com       2021-04-23
2      (496)978-3969x58947             beckycarr@hogan.com       2020-03-25
3          +1-813-324-8756     stanleyblackwell@benson.org       2020-06-02
4    001-199-446-3860x3486         colinalvarado@miles.net       2021-04-17
..                     ...                             ...              ...
95    001-841-293-3519x614                hhart@jensen.com       2022-01-30
96            605.413.3198               vkemp@ferrell.com       2021-07-10
97   +1-632-666-7507x92121                swagner@kane.org       2021-09-18
98  001-869-452-0943x12424  mccarthystephen@horn-green.biz       2021-08-11
99            783.639.1472          colleen91@faulkner.biz       2020-03-11

                              Website
0          http://www.stephenson.com/
1               http://www.hobbs.com/
2            http://www.lawrence.com/
3          http://www.good-lyons.com/
4         https://goodwin-ingram.com/
..                                ...
95            http://hayes-perez.com/
96         https://novak-allison.com/
97              https://www.ross.com/
98               http://watkins.info/
99  http://www.hatfield-saunders.net/

[100 rows x 12 columns]>

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Index             100 non-null    int64
 1   CustomerId        100 non-null    object
 2   FirstName         100 non-null    object
 3   LastName          100 non-null    object
 4   Company           100 non-null    object
 5   City              100 non-null    object
 6   Country           100 non-null    object
 7   Phone1            100 non-null    object
 8   Phone2            100 non-null    object
 9   Email             100 non-null    object
 10  SubscriptionDate  100 non-null    object
 11  Website           100 non-null    object
dtypes: int64(1), object(11)
memory usage: 9.5+ KB

In [51]:
df[:10].to_string()

'   Index       CustomerId FirstName   LastName                          Company               City                     Country                  Phone1                 Phone2                        Email SubscriptionDate                      Website\n0      1  DD37Cf93aecA6Dc    Sheryl     Baxter                  Rasmussen Group       East Leonard                       Chile            229.077.5154       397.884.0519x718     zunigavanessa@smith.info       2020-08-24   http://www.stephenson.com/\n1      2  1Ef7b82A4CAAD10   Preston     Lozano                      Vega-Gentry  East Jimmychester                    Djibouti              5153435776       686-620-1820x944              vmata@colon.com       2021-04-23        http://www.hobbs.com/\n2      3  6F94879bDAfE5a6       Roy      Berry                    Murillo-Perry      Isabelborough         Antigua and Barbuda         +1-539-402-0259    (496)978-3969x58947          beckycarr@hogan.com       2020-03-25     http://www.lawrence.com/\n3      4  5Cef8BFA16c5e3c     Linda      Olsen  Dominguez, Mcmillan and Donovan         Bensonview          Dominican Republic  001-808-617-6467x12895        +1-813-324-8756  stanleyblackwell@benson.org       2020-06-02   http://www.good-lyons.com/\n4      5  053d585Ab6b3159    Joanna     Bender         Martin, Lang and Andrade     West Priscilla  Slovakia (Slovak Republic)  001-234-203-0635x76146  001-199-446-3860x3486      colinalvarado@miles.net       2021-04-17  https://goodwin-ingram.com/\n5      6  2d08FB17EE273F4     Aimee      Downs                     Steele Group      Chavezborough      Bosnia and Herzegovina     (283)437-3886x88321           999-728-1637          louis27@gilbert.com       2020-02-25       http://www.berger.net/\n6      7  EA4d384DfDbBf77    Darren       Peck     Lester, Woodard and Mitchell           Lake Ana            Pitcairn Islands      (496)452-6181x3291   +1-247-266-0963x4995          tgates@cantrell.com       2021-08-24          https://www.le.com/\n7      8  0e04AFde9f225dE     Brett     Mullen     Sanford, Davenport and Giles            Kimport                    Bulgaria    001-583-352-7197x297       001-333-145-0369              asnow@colon.com       2021-04-12  https://hammond-ramsey.com/\n8      9  C2dE4dEEc489ae0    Sheryl     Meyers                   Browning-Simon       Robersonstad                      Cyprus       854-138-4911x5772    +1-448-910-2276x729      mariokhan@ryan-pope.org       2020-01-13     https://www.bullock.net/\n9     10  8C2811a503C7c5a  Michelle  Gallagher                     Beck-Hendrix         Elaineberg                 Timor-Leste        739.218.2516x459   001-054-401-0347x617            mdyer@escobar.net       2021-11-08           https://arias.com/'

In [52]:
df.iloc[0:10].to_string()

'   Index       CustomerId FirstName   LastName                          Company               City                     Country                  Phone1                 Phone2                        Email SubscriptionDate                      Website\n0      1  DD37Cf93aecA6Dc    Sheryl     Baxter                  Rasmussen Group       East Leonard                       Chile            229.077.5154       397.884.0519x718     zunigavanessa@smith.info       2020-08-24   http://www.stephenson.com/\n1      2  1Ef7b82A4CAAD10   Preston     Lozano                      Vega-Gentry  East Jimmychester                    Djibouti              5153435776       686-620-1820x944              vmata@colon.com       2021-04-23        http://www.hobbs.com/\n2      3  6F94879bDAfE5a6       Roy      Berry                    Murillo-Perry      Isabelborough         Antigua and Barbuda         +1-539-402-0259    (496)978-3969x58947          beckycarr@hogan.com       2020-03-25     http://www.lawrence.com/\n3      4  5Cef8BFA16c5e3c     Linda      Olsen  Dominguez, Mcmillan and Donovan         Bensonview          Dominican Republic  001-808-617-6467x12895        +1-813-324-8756  stanleyblackwell@benson.org       2020-06-02   http://www.good-lyons.com/\n4      5  053d585Ab6b3159    Joanna     Bender         Martin, Lang and Andrade     West Priscilla  Slovakia (Slovak Republic)  001-234-203-0635x76146  001-199-446-3860x3486      colinalvarado@miles.net       2021-04-17  https://goodwin-ingram.com/\n5      6  2d08FB17EE273F4     Aimee      Downs                     Steele Group      Chavezborough      Bosnia and Herzegovina     (283)437-3886x88321           999-728-1637          louis27@gilbert.com       2020-02-25       http://www.berger.net/\n6      7  EA4d384DfDbBf77    Darren       Peck     Lester, Woodard and Mitchell           Lake Ana            Pitcairn Islands      (496)452-6181x3291   +1-247-266-0963x4995          tgates@cantrell.com       2021-08-24          https://www.le.com/\n7      8  0e04AFde9f225dE     Brett     Mullen     Sanford, Davenport and Giles            Kimport                    Bulgaria    001-583-352-7197x297       001-333-145-0369              asnow@colon.com       2021-04-12  https://hammond-ramsey.com/\n8      9  C2dE4dEEc489ae0    Sheryl     Meyers                   Browning-Simon       Robersonstad                      Cyprus       854-138-4911x5772    +1-448-910-2276x729      mariokhan@ryan-pope.org       2020-01-13     https://www.bullock.net/\n9     10  8C2811a503C7c5a  Michelle  Gallagher                     Beck-Hendrix         Elaineberg                 Timor-Leste        739.218.2516x459   001-054-401-0347x617            mdyer@escobar.net       2021-11-08           https://arias.com/'

In [53]:
pd.set_option("display.width", 40)  # default is 80

In [54]:
df.head()

,Index,CustomerId,FirstName,LastName,Company,City,Country,Phone1,Phone2,Email,SubscriptionDate,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [1]:
dates = pd.date_range('20130101', periods=6)

NameError: name 'pd' is not defined

import pandas as pd

In [6]:
dates = pd.date_range('20130101', periods=6)

In [7]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6,4), index=dates)

In [9]:
import numpy as np

In [11]:
df

                   0         1         2         3
2013-01-01  0.120075 -1.107122 -0.073402 -0.623566
2013-01-02 -0.169368 -2.163062 -0.428940 -1.217868
2013-01-03 -0.490138 -1.212823 -0.734779 -1.608137
2013-01-04  0.015695  0.145607  0.694352 -0.256772
2013-01-05  1.339431 -0.323287 -1.329091  1.289254
2013-01-06  0.090506  2.421559  0.399326  0.571932

In [16]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [13]:
df

                   A         B         C         D
2013-01-01 -2.506631 -0.267333 -0.351198  1.942184
2013-01-02  2.438374 -0.332961 -0.579437 -0.613875
2013-01-03  0.461013 -1.625668 -0.547099  0.624508
2013-01-04  1.210360  0.880555 -1.782982  0.929166
2013-01-05 -0.800871 -1.894981 -0.290510  0.309568
2013-01-06  0.074188 -1.315111 -1.776790 -0.867552